{% extends 'base.html.twig' %}

{% block title %}Hello {{user.username}}!{% endblock %}

{% block body %}
<section id="user_profile">

    <h1>Hello {{ user.username }}! ✅</h1>
    {{ form_start(form) }}
    <div id="form">
        {{ form_row(form.username, {'attr': {'class': 'form-control', 'placeholder': user.username }}) }}
        {{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': user.email }}) }}
        {{ form_row(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Password' }}) }}
        {{ form_row(form.confirm_password, {'attr': {'class': 'form-control', 'placeholder': 'Confirm Password'}}) }}
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-cancel">Cancel</button>
    </div>
        {{ form_end(form) }}
</section>
{% endblock %}
