{% extends "base.html.twig" %}

{% block title %}
	Edit
	{{ trick.name }}
{% endblock %}

{% block body %}
	<section id="trick_edition">
		<h2 class="title">Edition Mode for
			{{ trick.name }}</h2>
		{{ form_start(form) }}
		<div id="form">
			{{ form_row(form.name)}}
			{{ form_row(form.description)}}
			{{ form_row(form.category)}}
			{{ form_row(form.main_picture)}}
			{{ form_row(form.medias)}}
			<div id="add-video-links" class="add__video__links">
				<button id="add-video-link-button" type="button">+</button>
				{{ form_row(form.embed_video_links)}}
			</div>
			<h3>Remove a media from this collection</h3>
			<div class="medias__gallery">
				{% for media in medias %}
					<div class="media">
						{% if media.type == 'picture' %}
							<img src="{{ asset(media.path) }}" alt="{{ trick.name }}">
						{% else %}
							<video src="{{ asset(media.path) }}" controls width="80px" height="80px" type="video"></video>
						{% endif %}
						<a href="{{ path('app_trick_delete_media', {'slug': trick.slug, 'media_id': media.id} ) }}" class="remove__media">X</a>
					</div>
				{% endfor %}
			</div>
			<button type="submit" class="btn btn-primary">Edit</button>
			<button type="reset" class="btn btn-cancel">Cancel</button>
		</div>
		{{ form_end(form) }}
	</section>
{% endblock %}
