{% for trick in tricks %}
	<div id="trick_{{ trick.id }}" class="trick">
		<div class="trick__image">
			<img src="{{ trick.mainPicture }}" alt="{{ trick.name }}"/>
		</div>
		<div class="trick__content">
			<h3 class="trick__title">
				{{ trick.name }}
			</h3>
			<p class="trick__description">
				{{ trick.description }}
			</p>
			<div class="trick__bottom">
				{% if not app.user %}
					<a href="{{ path('app_trick', { slug: trick.slug }) }}" class="read__more">Read more</a>
				{% elseif app.user == trick.user or is_granted('ROLE_ADMIN') %}
					<a href="{{ path('app_trick', { slug: trick.slug }) }}" class="read__more">Read more</a>
					<div class="trick__commands">
						<a href="{{ path('app_trick_edit', { slug: trick.slug }) }}" class="button edit">
							<i class="fa-solid fa-pencil"></i>
						</a>
						<a id="{{ trick.slug }}" class="button delete delete_trick_button">
							<i class="fa-regular fa-trash-can"></i>
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endfor %}
