{% extends "base.html.twig" %} {% block title %}SnowTricks - Signin{% endblock %} {% block body %}
<section id="signin">
	<h1>Signin</h1>
	{# {{ form_start(form) }}
	{{ form_widget(form) }}
	<span class="form-error"></span>
	<button type="submit" class="btn btn-primary">Se connecter</button>
	{{ form_end(form) }} #}

		<form action="{{ path('app_signin') }}" method="post">
			<div id="form">
				<div>
					<label for="username">Username</label>
					<input type="text" placeholder="username" id="username" name="_username" required class="form-control">
				</div>
				<div>
					<label for="password">Password</label>
					<input type="password" placeholder="password" id="password" name="_password" required class="form-control">
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			</div>
		<button type="submit" class="btn btn-primary">Login</button>
	</form>


</section>
{% endblock %}
